.containerStart {
    background-color: #fff;
    padding: 1.25em;
    height: 13.75em;
    width: 20.625em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 20px;
}

h1 {
    font-size: 44px;
}

button {
    color: #000;
    font-size: 0.9375em;
    font-weight: bolder;
    border: 2px solid #000;
    border-radius: 0.3125em;
    padding: 0.3125em 0.9375em 0.3125em 0.9375em;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background-color: #d8d5d5;
}